@using System.Globalization;
@{
    ViewBag.Title = "Citas_preconsulta";
    Layout = "~/Views/Shared/Master_Asistente.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Citas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        
                        
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label"></label>

                            <div class="col-sm-10">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                   
                                    <input type="text" class="form-control" disabled="disabled" value="@DateTime.Today.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" >


                                </div>
                                
                            </div>
                        </div>
                        <h2></h2>
                        <div class="col-sm-12" style="overflow-x: scroll;">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="width: 100%;" style="display: block;" style="overflow-x: scroll;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Id.Cita</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Hora</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Paciente</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Servicio</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Funcionario</th>     
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Estado</th>                                   
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Accion</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Accion</th>
                                </thead>
                                <tbody>


                                  


                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
   
    <!-- /.row -->
</section>


