@model Consultorio_UH.Models.Login

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master_Admi.cshtml";
}

<section class="content">
    <div id="capa-black"></div>
         
       
            <div class="col-md-2" pull-left>
                <li><a href="@Url.Action("Registro_Perfiles", "Admi")"><i class="fa fa-gears"></i>Registro Perfiles</a></li>
                <input type="button" value="Registro de Perfiles" class="btn btn-info pull-left" href="@Url.Action("Registro_Perfiles", "Admi")" />
            </div>
            <div class="col-md-2" pull-left>
                <input type="button" value="Usuarios Registrados" class="btn btn-info pull-left" href="@Url.Action("Usuarios_Registrados", "Admi")" />

            </div>
                <!----------->

        
    
    <!--Banners-->
    <img class="img-responsive" src="~/Content/dist/img/Inicio administrador.png" alt="Photo">


</section>