@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master_Home.cshtml";
}

 <!--<div class="content-wrapper" style="background-image: url('Content/dist/img/Fondo_inicio.png');">

    <!--Banners
    <img class="img-responsive" src="~/Content/dist/img/Banner Consultorio 1855x400.png" alt="Photo">


</div>-->
<!--Banners-->
    <img class="img-responsive" src="~/Content/dist/img/Banner Consultorio 1855x400.png" alt="Photo">
    <img class="img-responsive" src="~/Content/dist/img/Banner Consultorio cita 1855x400.png" alt="Photo">