@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master_Home.cshtml";
}

 <!--<div class="content-wrapper" style="background-image: url('Content/dist/img/Fondo_inicio.png');">

    <!--Banners
    <img class="img-responsive" src="~/Content/dist/img/Banner Consultorio 1855x400.png" alt="Photo">


</div>-->
<!--Banners-->
   <section id="banner">
    <img src="~/Content/dist/img/Banner Consultorio 1855x400.png" alt="Photo by Ken Treloar on Unsplash.">
    <div class="contenedor">
        <!--<h2>Consultorio Medico</h2>
            <a href="#"><b></b>Solicitar Informaci&oacute;n<b /></a>-->
        
    </div>
</section>
<!-- <img class="img-responsive" src="~/Content/dist/img/Banner Consultorio 1855x400.png" alt="Photo">
 <img class="img-responsive" src="~/Content/dist/img/Banner Consultorio cita 1855x400.png" alt="Photo">-->
<section id="horarios" class="box box-info">
     
    <h2>Bienvenidos</h2>
    <p id="anuncio">

        Cuatro salas de observación y discusión, que pueden utillizarse también como salas de alta, mediana o baja fidelidad.
        Cuatro salas de observación y discusión, que pueden utillizarse también como salas de alta, mediana o baja fidelidad.
        Cuatro salas de observación y discusión, que pueden utillizarse también como salas de alta, mediana o baja fidelidad.

        Cuatro salas de observación y discusión, que pueden utillizarse también como salas de alta, mediana o baja fidelidad.

        Cuatro salas de observación y discusión, que pueden utillizarse también como salas de alta, mediana o baja fidelidad.


    </p>
    <h2>Horarios</h2>
    <div class="contenedor">
        <article id="art_izq" class="box box-info">
            <div class="encabezado" style="background-color:#3498DB"> <h3>Medicina General</h3></div><br>
            <p>
                De Lunes-Viernes 7 a.m. a 4 p.m.<br />
                Sabado 9 a.m. a 3 p.m.
            </p>
        </article>
        <article id="art_derch" class="box box-info">
            <div class="encabezado" style="background-color:#3498DB  " >
             <h3>Nutrici&oacute;n</h3> 
            </div>
            <br>
            <p>
                De Lunes-Viernes 7 a.m. a 4 p.m.<br /><br />
            </p>
        </article>
    </div>
</section>
<section id="quienes_somos" class="box box-info">
    <div class="contenedor" style="background-color:white">
        <article id="art_quienes" >
            <Font color="black">
                <h2>¿Quienes Somos?</h2><br>
                <p>
                    El Hospital de Simulación Universidad Hispanoamericana se encuentra ubicado en el quinto piso del Edificio de Alta Tecnología de la Universidad Hispanoamericana, en Barrio Aranjuez, San José, Costa Rica,  cuenta con más de 1500 m2 de área de construcción que incluyen:

                    · Cuatro salas de alta fidelidad con equipos modernos de simulación, tales como Fidelis.

                    · Cuatro salas de observación y discusión, que pueden utillizarse también como salas de alta, mediana o baja fidelidad.

                    · Dos áreas de hospitalización de mediana fidelidad, que cuentan con equipos como Mega Code, Nursing Kelly.

                    · Cinco consultorios equipados.

                    · Dos salas de desarrollo de habilidades y entrenamiento en baja fidelidad que permiten el trabajo con partes anatómicas.

                    El ambiente simulado recrea las vivencias diarias a las cuales se expondrán los estudiantes, de las diferentes carreras de Ciencias de la Salud, utilizando la metodología de la Simulación Clínica.
                </p>
                </Font>
</article>
        <article id="art_img_edif">
            <img src="~/Content/dist/img/Aranjuez.jpg" alt="Edificio de Aranjuez">
        </article>
    </div>
</section>

<section id="informacion" >
    <div id="capa-black"></div>
    <h1> Informacion</h1>
    <p class="parrafo">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>

    <div class="container-info">
        <!--Contenedor-->
        <div class="testimonial">

            <div class="foto-perf" id="pers1"> </div>
            <h3>Nombre1</h3>
            <h4>Dedicacion</h4>

            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) .</p>

            <div class="conta-redes">
                <a class="icon-facebook" href="https://www.google.com/">a</a>
                <a class="icon-twitter"></a>
                <a class="icon-github" href="https://www.google.com/">b</a>
                <a class="icon-github" href="https://www.google.com/">c</a>
                <a class="icon-linkedin" href="https://www.google.com/">d</a>
            </div>
        </div>

        <div class="testimonial">

            <div class="foto-perf" id="pers2"> </div>
            <h3>Nombre</h3>
            <h4>Dedicacion</h4>

            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) .</p>

            <div class="conta-redes">
                <a class="icon-facebook" href="https://www.google.com/"></a>
                <a class="icon-twitter"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-linkedin" href="https://www.google.com/"></a>
            </div>
        </div>
        <div class="testimonial">

            <div class="foto-perf" id="pers3"> </div>
            <h3>Nombre</h3>
            <h4>Dedicacion</h4>

            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) .</p>

            <div class="conta-redes">
                <a class="icon-facebook" href="https://www.google.com/"></a>
                <a class="icon-twitter"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-linkedin" href="https://www.google.com/"></a>
            </div>
        </div>
        <!----------->
    </div>
    <div class="container-info">
        <!--Contenedor-->
        <div class="testimonial">

            <div class="foto-perf" id="pers1"> </div>
            <h3>Nombre1</h3>
            <h4>Dedicacion</h4>

            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) .</p>

            <div class="conta-redes">
                <a class="icon-facebook" href="https://www.google.com/"></a>
                <a class="icon-twitter"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-linkedin" href="https://www.google.com/"></a>
            </div>
        </div>

        <div class="testimonial">

            <div class="foto-perf" id="pers2"> </div>
            <h3>Nombre</h3>
            <h4>Dedicacion</h4>

            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) .</p>

            <div class="conta-redes">
                <a class="icon-facebook" href="https://www.google.com/"></a>
                <a class="icon-twitter"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-linkedin" href="https://www.google.com/"></a>
            </div>
        </div>
        <div class="testimonial">

            <div class="foto-perf" id="pers3"> </div>
            <h3>Nombre</h3>
            <h4>Dedicacion</h4>

            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) .</p>

            <div class="conta-redes">
                <a class="icon-facebook" href="https://www.google.com/"></a>
                <a class="icon-twitter"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-github" href="https://www.google.com/"></a>
                <a class="icon-linkedin" href="https://www.google.com/"></a>
            </div>
        </div>
        <!----------->
    </div>
</section>